<template>
  <v-card
    id="card"
    outlined
    flat
    elevation="1"
    class="overflow-auto panel d-flex flex-column justify-space-between"
  >
    <div>
      <v-data-table
        class="px-4 "
        dense
        :headers="headers"
        :items="data"
        :loading="loading"
        :options.sync="pagination"
        :page.sync="page"
        :server-items-length="totalRecords"
        :items-per-page="itemsPerPage"
        outlined
        hide-default-footer
        @page-count="pageCount = $event"
        v-model="selected"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-spacer />
            <f-create-btn :label="label" @click="createUser" class="mr-2" />
            <f-action-btn :label="exportLabel" @click="exportUsers" />
          </v-toolbar>
        </template>
        <template slot="no-data">
          <v-row align="center" class="justify-center mt-10 no-data">
            You have no users at the moment
          </v-row>
        </template>
        <template v-slot:[`item.actions`]="row">
          <f-edit-btn @click="editUser(row.item)" class="mr-0" />
          <f-delete-btn
            :outlined="false"
            @click="deleteUser(row.item)"
            class="mr-0"
          />
        </template>
      </v-data-table>
      <v-dialog v-model="dialogDelete" max-width="400px">
        <v-card class="pa-5">
          <v-card-title class="text-h6 text-center delete-title">
            Are you sure?
          </v-card-title>
          <v-card-subtitle class="mt-2 deactivate">
            You are deleting user {{ userName }}. You won't be able to revert
            this!
          </v-card-subtitle>
          <v-card-actions class="mr-3 d-flex align-center justify-center">
            <v-btn
              class="cancel"
              depressed
              outlined
              text
              @click="dialogDelete = false"
            >
              Cancel
            </v-btn>
            <v-btn depressed class="save" color="error" @click="confirmDelete">
              I'm sure
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogExport" max-width="400px">
        <v-card class="pa-5">
          <v-card-title class="text-h6 text-center delete-title">
            Are you sure?
          </v-card-title>
          <v-card-subtitle class="mt-2 deactivate">
            You are exporting all users data!
          </v-card-subtitle>
          <v-card-actions class="mr-3 d-flex align-center justify-center">
            <v-btn
              class="cancel"
              depressed
              outlined
              text
              @click="dialogExport = false"
            >
              Cancel
            </v-btn>
            <v-btn depressed class="save" color="error" @click="confirmExport">
              I'm sure
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <create-edit-user
        v-if="isCreating"
        modal-type="create"
        v-model="createUserModal"
        @user-created="fetchData"
      />
      <create-edit-user
        v-if="isEditing"
        modal-type="edit"
        v-model="editUserModal"
        :user="userData"
        @user-updated="update"
      />
    </div>
    <div class="pt-6">
      <v-pagination
        v-if="totalRecords > 0"
        v-model="page"
        :length="pageCount"
        color="#3980FC"
        class="d-flex"
      />
    </div>
    <snackbar
      :snackbar="snackbar"
      :snackbarColor="snackbarColor"
      :headerText="headerText"
      :text="text"
    />
  </v-card>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import FDeleteBtn from '@/components/buttons/FDeleteBtn.vue'
import FEditBtn from '@/components/buttons/FEditBtn.vue'
import FCreateBtn from '@/components/buttons/FCreateBtn.vue'
import Snackbar from '@/components/toasts/Snackbar.vue'
import CreateEditUser from '../Components/CreateEditUser.vue'
import Table from '../../../plugins/table'
import FActionBtn from '@/components/buttons/FActionBtn.vue'
const tableHeaders = [
  {
    text: 'Name',
    value: 'name',
    sortable: true,
  },
  {
    text: 'Surname',
    value: 'surname',
    sortable: true,
  },
  {
    text: 'Email',
    value: 'email',
    sortable: true,
  },
  {
    text: 'Age',
    value: 'age',
    sortable: true,
  },
  {
    text: 'Favorite color',
    value: 'color',
    sortable: true,
  },
  {
    text: 'Contact preference',
    value: 'contact',
    sortable: true,
  },
  {
    text: 'Actions',
    value: 'actions',
    sortable: false,
    align: 'end',
  },
]
@Component({
  components: {
    FDeleteBtn,
    FEditBtn,
    FActionBtn,
    CreateEditUser,
    FCreateBtn,
    Snackbar,
  },
})
export default class UserList extends Mixins(Table) {
  loading = false
  data = []
  totalRecords = 0
  itemsPerPage = 10
  pageCount = 0
  page = 1
  selected = []
  headers = tableHeaders
  createUserModal = false
  editUserModal = false
  dialogDelete = false
  dialogExport = false
  userData = ''
  userName = ''
  userId = ''
  headerText = ''
  text = ''
  snackbar = false
  snackbarColor = ''
  isCreating = false
  isEditing = false
  label = 'Create New User'
  exportLabel = 'Export Users'
  savedData = localStorage.getItem('tableData')
  mounted() {
    if (this.savedData) {
      this.data = JSON.parse(this.savedData)
      this.totalRecords = this.data.length
      this.pageCount = Math.ceil(this.totalRecords / this.itemsPerPage)
    }
  }
  fetchData(item) {
    if (item != undefined) {
      console.log('item', item)
      this.data = item
      this.totalRecords = this.data.length
      this.pageCount = Math.ceil(this.totalRecords / this.itemsPerPage)
    }
  }
  successMessage() {
    this.snackbarColor = 'success'
    this.headerText = 'User Deleted'
    this.text = 'User has been sucessfully deleted'
    this.snackbar = true
  }
  errorMessage() {
    this.snackbar = true
    this.snackbarColor = 'error'
    this.text = 'Something went wrong! User is not deleted'
  }
  confirmDelete() {
    if (!this.savedData) return
    const users: { id: string; name: string }[] = JSON.parse(this.savedData)
    const updatedUsers = users.filter(user => user.id !== this.userId)
    localStorage.setItem('tableData', JSON.stringify(updatedUsers))
    this.dialogDelete = false
    this.fetchData(updatedUsers)
    this.successMessage()
  }
  deleteUser(item) {
    this.dialogDelete = true
    this.userId = item.id
    this.userName = item.name
  }
  editUser(item) {
    this.editUserModal = true
    this.isEditing = true
    this.userData = item
  }
  createUser() {
    this.createUserModal = true
    this.isCreating = true
  }
  update(item) {
    this.data = item
  }
  exportUsers() {
    this.dialogExport = true
  }
  confirmExport() {
    const jsonData = JSON.stringify(this.data, null, 2)
    const blob = new Blob([jsonData], { type: 'application/json' })
    const link = document.createElement('a')
    link.setAttribute('href', URL.createObjectURL(blob))
    link.setAttribute('download', 'data.json')
    document.body.appendChild(link)
    link.click()
  }
}
</script>
<style scoped>
.no-data {
  height: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293042;
}
.delete-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  justify-content: center;

  color: #293042;
}
.deactivate {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #6f7689;
}

.cancel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #293042;
}
.save {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #ffffff;
}
.bordered-table {
  border: 1px solid gray;
}
.panel {
  height: calc(100vh - 30px);
}
</style>
