<template>
  <v-btn
    depressed
    dark
    :color="color"
    @click="$emit('click')"
    :disabled="disabled"
  >
    <v-icon small class="mr-2">mdi-export</v-icon>{{ label }}
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
@Component({})
export default class FActionBtn extends Vue {
  color?: string = '#0a0884'
  size?: string = '20px'
  @Prop({ default: 'Create' }) label!: string
  @Prop({ default: false }) loading!: boolean
  @Prop({ default: false }) disabled!: boolean
}
</script>

<style scoped></style>
