<template>
  <v-btn
    depressed
    dark
    color="#3C81FC"
    @click="$emit('click')"
    :disabled="disabled"
  >
    {{ label }}
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({})
export default class FSubmitBtn extends Vue {
  color?: string = '#0a0884'
  size?: string = '20px'
  @Prop({ default: 'Create' }) label!: string
  @Prop({ default: false }) loading!: boolean
  @Prop({ default: false }) disabled!: boolean
}
</script>
