<template>
  <v-row>
    <v-dialog width="674px" height="705px" v-model="modal" name="create_user">
      <v-card>
        <v-card-title class="add-title light mr-0 pr-0">
          {{ modalHeader }}
          <v-spacer />
          <f-cancel-btn class="mr-0 pr-0 cancel" @click="close" />
        </v-card-title>
        <v-divider />
        <v-form
          ref="form"
          @submit.prevent="modalType === 'create' ? create() : update()"
        >
          <v-container>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Name</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Name"
                  v-model="formData.name"
                />
              </v-col>
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Surname</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Surname"
                  v-model="formData.surname"
                />
              </v-col>
            </v-row>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0">
                <h3 class="label">Email</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  :rules="emailRule"
                  placeholder="Email"
                  v-model="formData.email"
                />
              </v-col>
              <v-col class="align-center justify-space-between py-0">
                <h3 class="label">Age</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Age"
                  type="number"
                  :rules="ageRule"
                  v-model="formData.age"
                />
              </v-col>
            </v-row>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Favourite Color</h3>
                <v-select
                  class="placeholder"
                  v-model="formData.color"
                  :items="colorOptions"
                  placeholder="Favorite Color"
                  item-text="name"
                  item-value="value"
                  outlined
                  clearable
                  dense
                />
              </v-col>
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Contact preference</h3>
                <v-checkbox
                  v-for="preference in preferences"
                  :key="preference.id"
                  :label="preference.name"
                  :value="preference.keyword"
                  v-model="formData.contact"
                  :rules="preferenceRule"
                />
              </v-col>
            </v-row>
          </v-container>
          <v-divider />
          <v-card-actions class="mr-3 pa-4">
            <v-spacer />
            <f-submit-btn
              :label="label"
              @click="modalType === 'create' ? create() : update()"
              class="save mr-1"
            />
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <snackbar
      :snackbar="snackbar"
      :snackbarColor="snackbarColor"
      :headerText="headerText"
      :text="text"
    />
  </v-row>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Ref, Watch } from 'vue-property-decorator'
import Snackbar from '@/components/toasts/Snackbar.vue'
import FSubmitBtn from '@/components/buttons/FSubmitBtn.vue'
import FCancelBtn from '@/components/buttons/FCancelBtn.vue'
import FCloseBtn from '@/components/buttons/FCloseBtn.vue'
import { VForm } from 'types'
interface FormData {
  name: string
  surname: string
  email: string
  age: number | null
  color: string
  contact: string[]
}
@Component({
  name: 'CreateEditUser',
  components: {
    FSubmitBtn,
    FCancelBtn,
    FCloseBtn,
    Snackbar,
  },
})
export default class CreateEditUser extends Vue {
  @Prop({ type: Boolean, required: true }) value
  @Prop({ type: Object }) user
  @Prop(String) modalType!: string
  @Ref('form') readonly form!: VForm
  @Watch('user')
  onPropertyChanged(value) {
    this.formData = value
  }
  emailRule = [v => /.+@.+\..+/.test(v) || 'E-mail must be valid']
  preferenceRule = [v => v.length > 0 || 'Select at least one preference']
  ageRule = [v => v <= 120 || 'Age must be less than 120']
  label = this.modalType === 'create' ? 'Create' : 'Save'
  loading = false
  headerText = ''
  text = ''
  snackbar = false
  snackbarColor = ''
  checkbox = false
  formData: FormData = {
    name: '',
    surname: '',
    email: '',
    age: null,
    color: '',
    contact: [],
  }
  preferences = [
    { id: 1, name: 'By Email', keyword: 'email' },
    { id: 2, name: 'By Phone Call', keyword: 'phone' },
    { id: 3, name: 'Via SMS', keyword: 'sms' },
  ]
  colorOptions = [
    { id: 1, name: 'Red', keyword: 'red' },
    { id: 2, name: 'Green', keyword: 'green' },
    { id: 3, name: 'Blue', keyword: 'blue' },
    { id: 4, name: 'White', keyword: 'white' },
    { id: 5, name: 'Black', keyword: 'black' },
  ]
  tableData: FormData[] = []
  get modal() {
    this.snackbar = false
    return this.value
  }
  set modal(newValue) {
    this.$emit('input', newValue)
  }
  get modalHeader() {
    return this.modalType === 'create' ? 'Add new User ' : 'Edit User'
  }
  close() {
    this.modal = false
    this.form.resetValidation()
    this.form.reset()
  }
  successMessage() {
    this.snackbar = true
    this.snackbarColor = 'success'
  }
  errorMessage() {
    this.snackbar = true
    this.snackbarColor = 'error'
    this.headerText = 'Something went wrong!'
  }
  mounted() {
    if (this.user) {
      this.formData = this.user
    }
  }
  create() {
    if (!this.form.validate()) {
      this.errorMessage()
      this.text = 'Please fill all fields!'
      this.loading = false
      return
    }
    try {
      const storedUsers = JSON.parse(localStorage.getItem('tableData') || '[]')
      const newUserId =
        Date.now() +
        Math.random()
          .toString(36)
          .substr(2, 9)

      const newUser = { ...this.formData, id: newUserId }

      storedUsers.push(newUser)
      localStorage.setItem('tableData', JSON.stringify(storedUsers))

      this.tableData = storedUsers
      this.$emit('user-created', this.tableData)
    } catch (error) {
      console.error('Error saving table data to localStorage:', error)
    }
    this.close()
  }
  update() {
    try {
      const storedUsers = JSON.parse(localStorage.getItem('tableData') || '[]')
      const userIndex = storedUsers.findIndex(user => user.id === this.user.id)

      storedUsers[userIndex] = { ...this.formData, id: this.user.id }

      localStorage.setItem('tableData', JSON.stringify(storedUsers))

      this.tableData = JSON.parse(localStorage.getItem('tableData') || '[]')
      this.$emit('user-updated', this.tableData)

      this.successMessage()
      this.close()
    } catch (error) {
      this.errorMessage()
    }
  }
}
</script>
<style scoped>
#no-background-hover::before {
  background-color: transparent !important;
}
h3 {
  padding-bottom: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6f7689;
}
.add-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #293042;
}
.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f7689;
}
.placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #aeb6be;
}
.cancel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #293042;
}
.save {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #ffffff;
}
.removeUser {
  width: 8px;
  height: 7.5px;
  left: 842px;
  top: 502px;
}
input {
  height: 37px !important ;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  border-radius: 5px !important;
  border-style: solid !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: black !important ;
  padding-left: 12px !important;
}
input::placeholder {
  color: #c4c4c4;
}
</style>
